html, body, #root
{
  height:100%;
}
#root {
  margin: 0 auto;
  position: relative;
}
form {
  width: 30%;
  display: inline-block;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  background-color: #2C2E30;
  color: white;
}

.cred-button {
  margin: 10px;
}
.btn-space{
  margin-right: 5px;
}

.btn-space-left{
  margin-left: 5px;
}

.payment-btn {
  cursor: pointer;
  cursor: hand;
}

.error {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: rgba(255, 0, 0, 0.3);
  color: #8b0000;
}

.success {
  background-color: rgba(0, 255, 0, 0.1);
  border-color: rgba(0, 255, 0, 0.3);
  color: #006400;
}

.BarMessage
{
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
  font-weight: bold;
}

.content {
  position: relative;
  margin: 0;
}

.left
{
  width: 64%;
  margin: 0 1% 0 5.5%;
  float: left;
  border-bottom: 1px solid black;
  position: relative;
}
.leftImage
{
  width: 150px;
	height: 150px;
	background: rgba(211, 211, 211, 1.0);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  float: left;
  margin: 20px;
}
.leftInfo
{
  float: left;
  margin: 15px;
}
.leftName, .leftDescription, .leftNickName
{
  margin: 20px 5px 20px 5px;
}
.leftNickName {
  width: 75%;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.leftDescription {
  width: 100%;
  min-width: 500px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.personal-button{
  position: absolute;
  right: 0;
  bottom: 0;
}
.settings-button{
  position: absolute;
  right: 0;
  top: 0;
}
.fa-gear
{
  color: #C0C0C0;
}
.right
{
  width: 23%;
  float: right;
  margin: 0 5.5% 0 1%;
  border-bottom: 1px solid black;
}
.rightContainer
{
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.rightLinks p{
  display: block;
  color: #8A2BE2;
}
.rightLinks h4
{
  display: inline;
}
.action-button {
  display: inline;
  cursor: pointer;
  cursor: hand;
  margin-bottom: 5px;
}
.underLeft {
  float: left;
  width: 64%;
  margin: 2% 1% 0 5.5%;
  border-bottom: 1px solid black;
}
.underRight {
  width: 23%;
  float: right;
  margin: 0 5.5% 5% 1%;
  border-bottom: 1px solid black;
}
.rightUnderContainer
{
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.rightUnderLinks a{
  display: block;
  background-color: #2C2E30;
}

.Hidden {
  visibility: hidden;
}
.Shown {
  visibility: visible;
}
.dashboardDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index = 99;
 min-height: 1000px;
 top: 0;
 bottom: 0;
}
.editing {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1.0);
  z-index = 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
.editing form
{
  width: 100%;
  height: 100%;
}
.editing h5
{
  display: block;
}
.editing p
{
  margin: 5px;
}
.editingContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
